body{
	color: #333;
	background-color: #e0e0e0;
}
.topbuttons{
	margin:3px;
	padding:3px;
	background-color: #ffffff;
}
.topbuttons input{
	margin:3px;
	padding:3px;
	background-color: #ffffff;
}
.footerbuttons{
	margin:3px;
	padding:3px;
	background-color: #ffffff;
}
.footerbuttons input{
	margin:3px;
	padding:3px;
	background-color: #ffffff;
}
 .canv0, .canv1, .canv2, .canv3, .canv4{
	display:inline-block;
	background-color: #ffffff;
	margin:3px;
}
#mutatepercent{
	width:20px;
}
.footerbuttons input{
	display:inline-block;
}
.footerbuttons div{
	display:inline-block;
}
#canv canvas{
	display:inline-block;
	margin:1px;
	padding:1px;
}

#canv canvas.selected {
	outline: 4px solid red;
}
